{% extends 'template.html.twig' %}

{% block css %}..\{% endblock %}
{% block logoFooter %}..\{% endblock %}
{% block logoHeader %}..\{% endblock %}


{% block title %} {{ post.title }} {% endblock %}

{% block body %}

<div class="containerBlock">
  <div class="containerPost">
    <h1 class="title">{{ post.title }}</h1>
    <p class="chapo">{{ post.chapo }}</p>
    <p class="info">Par {{ post.author }}, publié le {{ post.dateCreate }}, dernière mise à jour le {{ post.lastModif }}</p>
    <img src="../public/assets/images/{{ post.thumbnail }}" alt="">
    <p class="content">{{ post.content }}</p>

    <h2 class="titleComments">Commentaires</h2>
    <div class="containerComments">
      {% for comment in comments %}
        {% if comment.validate == 'y' and comment.idPost == post.id  %}
          <div class="comment">
            <div class="headerComment">
              <p class="author">{{ comment.author }}</p>
              <p class="date">{{ comment.dateCreate }}</p>
            </div>
            <p class="content">{{ comment.content }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <h2 class="titleComments">Ajouter un commentaires</h2>
    {% if successMessage is defined %}
    <p class={{class}}>{{successMessage}}</p>
  {% endif %}

    {% if session.user is defined %}
      <form action="/portfolio/commentRequest/{{ post.id }}" method="post" class="comments">
        <textarea name="comment" cols="30" rows="10" placeholder="Votre commentaire..." ></textarea>
        <input type="submit" value="Envoyer">
      </form>
    {% endif %}
  </div>
</div>

{% endblock %}